.game-cell {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 33%;
    flex: 2 2 27%;
    border: 1px solid black;
}

.game-cell.chosen {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
  }
  