.game-field__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;
    flex-grow:1;
    width: 100%;
    height: 100%;
}
.game-field__inner:after{
    content: "";
    position: absolute;
    background-color: #2ab7ca;
    transition: .7s;
    width: 4px;
    height: 0;
}

.game-field__inner.v0:after {
    top: 0;
    left: 16.6666%;
    width: 4px;
    height: 100%;
}
.game-field__inner.v1:after {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transition: .7s;
}
.game-field__inner.v2:after {
    top: 0;
    left: 83.3%;
    width: 4px;
    height: 100%;
    transition: .7s;
}

.game-field__inner.h0:after {
    top: 16.6666%;
    width: 100%;
    height: 3px;
}
.game-field__inner.h3:after {
    top: 50%;
    width: 100%;
    height: 3px;
}
.game-field__inner.h6:after {
    top: 83.333%;
    width: 100%;
    height: 3px;
}
.game-field__inner.d0:after {
    width: 3px;
    left: 0;
    top: 0;
    height: 140%;
    transform: rotate(
        -45deg
        );
}
.clicked {
    background-color: red;
}